@font-face {
     font-family: bebas regular;
     src: url(../font/BebasNeue_Regular.ttf);
}

* {
     box-sizing: border-box;
     transition: all .3s linear;
}

body {
     font-family: Roboto, sans-serif;
}


/* ! header */


.header {
     width: 100%;
     background-color: #635854;
     padding: 12px 0;
     border-bottom: 5px solid #3596F5;
}

.navbar {
     max-width: 1280px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.navbar a:hover {
     color: #3596F5;
}

.logo {
     padding-top: 8px;
}

.navbar__nav-menu {
     display: flex;
     list-style-type: none;
     text-align: center;
     margin: 0;
     padding: 0;
}

.navbar__nav-menu--item {
     margin: 0 40px;
}

.navbar__nav-menu--link {
     text-decoration: none;
     color: #fff;
}

.navbar__nav-contacts {
     text-align: right;
}

.navbar__nav-contacts--text {
     display: block;
     color: #fff;
     margin-bottom: 4px;
     font-size: 14px;
     line-height: 16px;
}

.navbar__nav-contacts--phone {
     text-decoration: none;
     color: #fff;
     font-weight: 700;
     font-size: 17px;
     line-height: 20px;
}


/* ! main */


.main {
     max-width: 1280px;
     margin: auto;
     padding-top: 54px;
     display: flex;
}

.main__image {
     max-height: 640px;
}

.main__image-svg path {
     opacity: 0;
     cursor: pointer;
}

.main__image-svg path:hover {
     opacity: 1;
}

.main__info {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     flex-grow: 1;
     align-items: center;
}

.main__info-counter_group {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 90%;
}

.main__info-title {
     margin: 0;
     font-family: bebas regular, sans-serif;
     font-size: 37px;
     line-height: 25px;
     font-style: normal;
     font-weight: normal;
     text-transform: uppercase;
     color: #635854;
}

.main__info-counter_group-arrow {
     cursor: pointer;
}

.main__info-counter_group-btn {
     background-color: #fff;
     border: none;
}

.main_info-counter_group-btn--down {
     transform: rotateX(180deg);
}

.main__info-counter {
     font-family: bebas regular, sans-serif;
     color: #635854;
     font-size: 124px;
     font-style: normal;
     font-weight: normal;
}

.main__info-counter_group-button--primary {
     background-color: #3596F5;
     border-radius: 6px;
     border: none;
     color: #fff;
     padding: 16px 36px;
     cursor: pointer;
}

.main__info-counter_group-button--primary:hover {
     background-color: #0080ff;
}


/* ! js */


path.current-floors {
     opacity: 1;
}