* {
     box-sizing: border-box;
}

body {
     font-family: 'Roboto', sans-serif;
}

.header {
     background-color: #635854;
     padding: 12px 0;
     border-bottom: 4px solid #3596F5;
}

.navbar {
     max-width: 1280px;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.navbar__nav-menu {
     display: flex;
     margin: 0;
     padding: 0;
     list-style-type: none;
     text-align: center;
}

.navbar__nav-menu--item {
     margin: 0 40px;
}

.navbar__nav-menu--link {
     text-decoration: none;
     color: #fff;
}

.navbar__nav-contacts {
     text-align: right;
}

.navbar__nav-contacts--text {
     display: block;
     color: #fff;
     margin-bottom: 4px;
     font-size: 14px;
     line-height: 16px;
}

.navbar__nav-contacts--phone {
     text-decoration: none;
     color: #fff;
     font-weight: 700;
     font-size: 17px;
     line-height: 20px;
}